* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;

  background-image: url(images/spice.jpg);
  background-attachment: fixed;
  min-width: 400px;
}
.game-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
h1 {
  font-size: 3rem;
  font-weight: bold;

  color: rgb(224, 4, 125);
  background: rgb(31, 1, 17);
}
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;

  position: relative;
  border: 2px solid black;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform.2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;

  border: 2px splid darkmagenta;
}
.front-face {
  transform: rotateY(180deg);
}

img {
  width: 100px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 25% auto;
  padding: 20px;
  color: #ffffff;
  background-color: black;
  border-radius: 5px;
  width: 70%;
  height: 20%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.restart-btn {
  height: 3rem;
  width: 15rem;
  background-color: purple;
  border-radius: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: bold;
  align-items: center;
}
.show {
  visibility: visible !important;
  opacity: 100 !important;
}
@media screen and(min-width: 500px) {
  .memory-game {
    width: auto;
    height: auto;
  }
}
